@*@model ML.Usuario*@
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />*@
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <meta name="viewport" content="width=device-width" />
     <link rel="stylesheet" href="~/css/Registrar.css" asp-append-version="true" />
 
    <title>Registrarse</title>
</head>
<body>


	
		<div class="wrapper">
			<div class="title">Login Form</div>
	@*	@using (Html.BeginForm("Registrarse", "Usuario", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {*@
		<form action="/Usuario/Registrarse" method="post">
				<div class="field">
				<input type="text" id="nombre" name="nombre" required>
			@*	@Html.TextBoxFor(model => model.Nombre, new { @id = "nombre"})*@
					<label>Nombre</label>
				</div>
				<div class="field">
			@*	@Html.TextBoxFor(model => model.Contraseña, new { @id = "contraseña"})*@
				<input type="password" id="password" name="password" required>
					<label>Contraseña</label>
				</div>
			<div class="field">
				<input type="password" required id="idpassconfirm" onblur="compararContraseñas()">
				<label>Confirmar contraseña</label>
			</div>
			<hr>
			@*@Html.Label(null,"",new{id="labeltxt"})*@
				<div class="field" id="botonsub">
					<input type="submit" value="Registrarse">
				</div>
		</form>
		@*}*@
		</div>
	

</body>
@section Scripts{
	<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="/resources/demos/style.css">
	<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
	<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
	<script type="text/javascript">
		function compararContraseñas() {
			var contraseña = document.getElementById(idpass).value;
			var cfrmcontraseña = document.getElementById(idpassconfirm).value;
			if (contraseña == cfrmcontraseña{
				document.getElementById(InputName).className = 'field ';
			}
			else {
				$('#' + idlabel).text("Las contraseñas deben coincidir");
			}
		}

	</script>
}
</html>

